    <script>
        console.log({{ product.price | json }});
    </script>
    {% liquid
        assign textcolour = section.settings.color        
    %}
    <div>
        <h1 class="{{ textcolour }}">{{ section.settings.title }}</h1>
        <p>{{ section.settings.description }}</p>
        <a href="{{ section.settings.link }}">Learn More</a>
    </div>
    {% schema %}
    {
        "name": "imageHero",
        "tag": "section",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            },
            {
                "type": "select",
                "id": "color",
                "label": "Color",
                "options": [
                    {
                        "value": "text-red-500",
                        "label": "Red"
                    },
                    {
                        "value": "text-blue-500",
                        "label": "Blue"
                    },
                    {
                        "value": "text-green-500",
                        "label": "Green"
                    }
                ]
            },
            {
                "type": "textarea", 
                "id": "description",
                "label": "Description"
            },
            {
                "type": "url",
                "id": "link",
                "label": "Link"
            }

        ],
        "blocks": [
            {
                "type": "block1",    
                "name": "block1",
                "settings": [
                    {
                "type": "select",
                "id": "color",
                "label": "Color",
                "options": [
                    {
                        "value": "text-red-500",
                        "label": "Red"
                    },
                    {
                        "value": "text-blue-500",
                        "label": "Blue"
                    },
                    {
                        "value": "text-green-500",
                        "label": "Green"
                    }
                ]
            }
                ]
            }
        ],
        "presets": [
    {
      "name": "imageHero"
    }
  ]
    }
    {% endschema %}